<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>homepage</h1>
<a class="nav-link" href="{% url 'account_login' %}">ログイン　Log In</a><br>
<a class="nav-link" href="{% url 'profile_app:employee_list' %}">社員一覧　employee_list</a><br>
<a class="nav-link" href="{% url 'account_reset_password' %}">パスワード　password_reset</a><br>
<a class="nav-link" href="{% url 'account_signup' %}">社員新規　account_signup</a><br>
<a class="nav-link" href="{% url 'profile_app:lastname' %}">姓　lastname</a><br>

</body>
</html>