<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>ホームページ</h1>
<a class="nav-link" href="{% url 'profile_app:employee_list' %}">社員一覧　employee_list</a><br>
<a class="nav-link" href="{% url 'account_reset_password' %}">パスワード　password_reset</a><br>
<a class="nav-link" href="{% url 'account_signup' %}">社員新規　account_signup</a><br>
{% if user.is_authenticated %}
    <br>
    {{ common_last_name }}　ログイン状態<br>
    <a class="nav-link" href="{% url 'profile_app:employee' pk=user_id %}">社員詳細　profile_app_employee</a><br>
    <a class="nav-link" href="{% url 'account_logout' %}">ログアウト　Log Out</a>
{% else %}
    <a class="nav-link" href="{% url 'account_login' %}">ログイン　Log In</a><br>
{% endif %}
</body>
</html>