{% extends 'base.html' %}
{% load static %}
{% block title %}品名登録{% endblock %}
{% block active_product %}active{% endblock %}
{% block head %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
{% endblock %}
{% block contents %}

{% if not common_is_staff %}
    <div class="incorrect">
    <p>不正な操作です</p>
    </div>
{% else %}
    <form method="post" enctype="multipart/form-data" class="form" novalidate>
        {% csrf_token %}
        <h1>品名登録</h1>
            {% for field in form %}
                <div class="field">
                    {% if not field.is_hidden %}
                    <label class="login_class" for="{{ field.auto_id }}">{{ field.label }}</label>
                    {% endif %}                   
                    {{ field }}
                    {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                    {% endif %}
                    {{ field.errors }}
                </div>
            {% endfor %}
        <div class="button_all">
        <button class="btn_save" type="submit">登録</button>
        <button class="btn_back" type="button" onclick="location.href='{% url 'asset_app:product_list' %}'">戻る</button>
        </div>
    </form>
{% endif %}
<script>
    $(function(){
        $("#id_product_name").keyup(function()
        {
            var value = $("#id_product_name").val();

            $.ajax({
                type: "GET",
                url: '{% url 'asset_app:duplicate_product' %}',
                data: {
                    'product_name':value,
                    },
                success:function(response){
                    if (response.exists_product_name == true) {
                        $("#id_product_name").after("<span class='errorlist'>品名が既に存在しています。</span>"); 
                    }    
                }
            });
        })
    });

    $(function(){
        $("#id_product_abbreviation").keyup(function()
        {
            var value = $("#id_product_abbreviation").val();

            $.ajax({
                type: "GET",
                url: '{% url 'asset_app:duplicate_product_abbreviation' %}',
                data: {
                    'product_abbreviation':value,
                    },
                success:function(response){
                    if (response.exists_product_abbreviation == true) {
                        $("#id_product_abbreviation").after("<span class='errorlist'>略称が既に存在しています。</span>"); 
                    }    
                }
            });
        })
    });

    $(function(){
        $("#id_product_name").keyup(function()
        {
            var value = $("#id_product_name").val();
            $.ajax({
                type: "GET",
                url: '{% url 'asset_app:check_delete_product' %}',
                data: {
                    'product_name':value,
                    },
                success:function(response){
                    if (response.delete_product_name == true) {
                        $("#id_product_name").after("<span class='errorlist'>該当品名を削除したことがありますが、再登録の場合登録ボタンを押してください。</span>"); 
                    }    
                }
            });
        })
    });

    $(function(){
        $("#id_product_abbreviation").keyup(function()
        {
            var value = $("#id_product_abbreviation").val();
            $.ajax({
                type: "GET",
                url: '{% url 'asset_app:check_delete_product_abbreviation' %}',
                data: {
                    'product_abbreviation':value,
                    },
                success:function(response){
                    if (response.delete_product_abbreviation == true) {
                        $("#id_product_abbreviation").after("<span class='errorlist'>該当略称を削除したことがありますが、再登録の場合登録ボタンを押してください。</span>"); 
                    }    
                }
            });
        })
    });
</script> 
{% endblock %}