{% extends 'base.html' %}
{% load static %}
{% block title %}登録{% endblock %}

{% block active_login %}active{% endblock %}

{% block head %}
<link href="{% static 'css/clean-blog.min.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
            <h1>登録</h1>

            {% if confirmation %}

            <p>ご入社おめでとうございます。
登録が正常に完了しました。下のボタンをクリックし、ログインしてください。</p>

            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                {% csrf_token %}
                <button class="btn_send" type="submit">ログイン</button>
            </form>

            {% else %}

            {% url 'account_email' as email_url %}

            <p>リンクの有効期限が過ぎています。 <a href="{{ email_url }}">再申請</a>.</p>

            {% endif %}
{% endblock %}
