{% extends 'base.html' %}
{% load static %}

{% block title %}パスワードリセット{% endblock %}
{% block head %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
    <form method="post" action="{% url 'account_reset_password' %}" novalidate>
        <h1>パスワードリセット</h1>
        {{ form.non_field_errors }}
        <div>
        <p>パスワードリセット用メールを送信します。</p>
        </div>
        <br>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                {% if not field.is_hidden %}
                    <label class="resect_class" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <span class="necessary label-denger">必須</span>
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
                {{ field.errors }}
                </div>
        
        {% endfor %}
        <div class="button_all">
            <button class="btn_send" type="submit">送信する</button>
            <button class="btn_back" type="button" onclick="location.href='{% url 'account_login' %}'">戻る</button>
        </div>
    </form>
{% endblock %}