{% extends 'base.html' %}
{% load static %}

{% block title %}パスワードリセット{% endblock %}
{% block head %}
<link href="{% static 'css/HS.css' %}" rel="stylesheet">
{% endblock %}

{% block contents %}
    <form method="post" action="{% url 'account_reset_password' %}" novalidate>
        <h1>パスワードリセット</h1>
        {% if form.non_field_errors %}
            {{ form.non_field_errors }}
        {% endif %}

        <p>パスワードリセット用メールを送信します。</p>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        {% csrf_token %}
        {% for field in form %}
            <div class="field">
                {% if not field.is_hidden %}
                    <label class="my_class" for="{{ field.auto_id }}">{{ field.label }}</label>
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                    <span class="helptext">{{ field.help_text }}</span>
                {% endif %}
                {{ field.errors }}
                </div>
        
        {% endfor %}

        <button class="btn btn-primary" type="submit">パスワードリセットメールを送信する</button>
        <button class="btn btn-primary" type="button" onclick="location.href='{% url 'account_login' %}'">戻る
        </button>
    </form>
{% endblock %}