{% extends 'base.html' %}
{% load static %}
{% block title %}社員新規{% endblock %}
{% block active_signup %}active{% endblock %}
{% block head %}
<link href="{% static 'css/main.css' %}" rel="stylesheet">
{% endblock %}
{% block contents %}
            <br>
            {% if common_is_staff %}
                {% comment %} <h5><span style="font-style: italic">New Member!～</span></h5> {% endcomment %}
                <form method="post" action="{% url 'account_signup' %}" novalidate>
                <h1>社員新規</h1>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {% for field in form %}
                    <div class="field">
                        {% if not field.is_hidden %}
                        <label class="signup_class" for="{{ field.auto_id }}">{{ field.label }}</label>
                        <span class="necessary label-denger">必須</span>
                        {% endif %}
                        {{ field }}
                        {% if field.help_text %}
                            <br>
                            <span style="color:gray;"><small>{{ field.help_text }}</small></span>
                        {% endif %}
                        {{ field.errors }}                        
                    </div><br>
                    {% endfor %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="http://localhost:8000"/>
                    <div class="button_all">
                        <button class="btn_send" type="submit">登録情報を送信する</button>
                        <button class="btn_back" type="button" onclick="location.href='{% url 'account_login' %}'">戻る</button>

                    </div>
                </form>
            {% else %}
            <div class="col-9">
            <p>不正な操作です</p>
            </div>
            {% endif %}
{% endblock %}