.form{
  width: 100%;
  margin:0 auto;
  border: 1px solid #9c9c9c;
  padding: 50px;
  box-sizing: border-box;
}
.field{
  margin-bottom: 20px;
}
.my_class{
  display: inline-block;
  width:20%;
  border-left: solid 5px #1d83c7;
  padding-left: 15px;
}
.form input[type="text"], 
.form input[type="number"],
.form input[type="email"] {
     padding: 10px;
     width: 65%;
 }
 
.form textarea{
   padding: 10px;
   height: 100px;
   font-size: 14px;
   width: 65%;
 }
 
.form select{
   height: 35px;
   width: 65%;
 }
