.form{
  width: 100%;
  margin:0 auto;
  border: 1px solid #9c9c9c;
  padding: 50px;
  box-sizing: border-box;
}
.field{
  margin-bottom: 15px;
}
.my_class{
  display: inline-block;
  width:20%;
  border-left: solid 5px #1d83c7;
  padding-left: 20px;
}
.gender_class{
  list-style:none;
  display: inline-block;
  padding-inline-start: 0px;
}
.gender_class li{
  display: inline-block;
  padding: 10px;
}
.form input[type="text"], 
.form input[type="number"],
.form input[type="email"] {
  padding: 10px;
  width: 65%;
}
.form select{
  height: 35px;
  width: 65%;
}
.pop{
  list-style:none;
  padding-inline-start: 210px;
}