body, #wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
}

.my-div-style {
    margin-top:6rem;
    margin-bottom:2em;
}

.errorlist {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: red;
    font-size: 12px;
}

.nonfield {
    margin-top: 20;
    margin-bottom: 20;
    padding: 0.5;
    list-style-type: none;
    color: red;
    font-size: 22px;
}

/* .container img {
    float: left;
    margin: 0 10px 10px 0;
    transition: opacity 1s ease 0s;
} */

.image{
    width: 100px;
    height: 50px;
}

.nav-link{
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    letter-spacing: .1rem;
}
